{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <style>
      body{
        background: url('{% static "img/hd17.jpg"%}') no-repeat center fixed;
        - webkit- background: cover;
        - moz - background: cover;
        - o - background: cover;
              background-size: cover;
      }

      </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personality Leading.com</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/Custom' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/Custom.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

<!-- Navigation -->
<div class="mynav">
  <div class="p-3 mb-2 bg-info text-white"><strong> PERSONALITY LEADING </strong></div>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services/">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


    <!-- Page Header -->
    <!-- <header class="masthead" style="static 'background-image: url('img/about-bg.jpg')">  -->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-primery col-md-10 mx-auto">
            <div class="site-heading">
              <br>
              <br>
              <h1>WHO WE ARE<br>
                  The best experts in the industry</h1>
                  <br>
              <h4 class="subheading">WHAT COULD BE BETTER THAN PERSONALITY DEVELOPMENT?</h4><br>
              <br>
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">

              <h5 class="post-title">
                "Personal development is a lifelong process. It's a way for people to assess their skills and qualities, consider their aims in life and set goals in order to realise and maximise their potential.
              </h5>
              <BR>
              <h5 class="post-subtitle">
                We identify the skills you need to set life goals which can enhance your employability prospects, raise your confidence and lead to a more fulfilling, higher quality life. Plan to make relevant, positive and effective life choices and decisions for your future to enable personal empowerment.

Our training in many aspects: Personal development, English coaching, Tips for the interview, Resume preparation, and many...
              </h5>
            </a>

          </div>

        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/onlinejobsguruu">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/onlinejobsguru05/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <!-- <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span> -->
                </a>
              </li>
            </ul>
            <p class="copyright text-dark">© 2016 PERSONALITY LEADING, ALL RIGHTS RESERVED</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
